{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    {% block page_myfav_org_acl_role_overview %}
        <div class="myfav-org-employee-edit">
            {% if errors != null %}
                <div role="alert" class="alert alert-danger alert-has-icon">
                    <span class="icon icon-exclamation-triangle" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path d="M24 12c0 6.6274-5.3726 12-12 12S0 18.6274 0 12 5.3726 0 12 0s12 5.3726 12 12zM12 2C6.4772 2 2 6.4772 2 12s4.4772 10 10 10 10-4.4772 10-10S17.5228 2 12 2zM7.7071 12.2929 10 14.5858l6.2929-6.293c.3905-.3904 1.0237-.3904 1.4142 0 .3905.3906.3905 1.0238 0 1.4143l-7 7c-.3905.3905-1.0237.3905-1.4142 0l-3-3c-.3905-.3905-.3905-1.0237 0-1.4142.3905-.3905 1.0237-.3905 1.4142 0z" id="icons-default-checkmark-circle"></path></defs><use xlink:href="#icons-default-checkmark-circle" fill="#758CA3" fill-rule="evenodd"></use></svg>
                    </span>
                    <div class="alert-content-container">
                        <div class="alert-content">{{ 'myfav.org.employee.editErrorGeneral'|trans|sw_sanitize }}</div>
                    </div>
                </div>
            {% endif %}

            <h1>
                {% if editMode == 'new' %}{{ 'myfav.org.employee.pageNewTitle'|trans|sw_sanitize }}{% else %}{{ 'myfav.org.employee.pageEditTitle'|trans|sw_sanitize }}{% endif %}
            </h1>
            <div class="myfav-org-employee-edit-container">
                <form
                    action="{% if editMode == 'new' %}{{ path('myfav.org.employee.create') }}{% else %}{{ path('myfav.org.employee.update', { 'employeeId': employee.id }) }}{% endif %}"
                    method="POST"
                >
                    <div class="row g-2">
                        <div class="form-group col-sm-6">
                            <label for="active">{{ 'myfav.org.employee.formFieldActive'|trans|sw_sanitize }}</label>
                            <select
                                class="form-select"
                                name="active"
                                id="active"
                                autocomplete="off"
                                required="required">
                                <option value="0">{{ 'myfav.org.employee.optionLabelInActive'|trans|sw_sanitize }}</option>
                                <option value="1"{% if employee.active == true %} selected="selected"{% endif %}>{{ 'myfav.org.employee.optionLabelActive'|trans|sw_sanitize }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="form-group col-sm-6">
                            <label for="myfavOrgAclRoleId">{{ 'myfav.org.employee.formFieldMyfavOrgAclRole'|trans|sw_sanitize }}</label>
                            <select
                                class="form-select"
                                name="myfavOrgAclRoleId"
                                id="myfavOrgAclRoleId"
                                autocomplete="off">
                                <option value=""></option>
                                {% for aclRole in aclRoles %}
                                    <option value="{{ aclRole.id }}"{% if employee.myfavOrgAclRoleId == aclRole.id %} selected="selected"{% endif %}>{{ aclRole.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row g-2">
                        {% set emailError = false %}
                        {% set emailErrorMessage = '' %}

                        {% for error in errors %}
                            {% if error.propertyPath == '/email' %}
                                {% set emailError = true %}
                                {% if emailErrorMessage|length === 0 %}
                                    {% set emailErrorMessage = error.message %}
                                {% else %}
                                    {% set emailErrorMessage = passwordErrorMessage ~ "<br />" ~ error.message %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <div class="form-group col-sm-6 has-validation">
                            <label for="email"{% if emailError %} class="text-danger"{% endif %}>{{ 'myfav.org.employee.formFieldEmail'|trans|sw_sanitize }}</label>
                            <input 
                                type="text"
                                class="form-control {% if emailError %}is-invalid{% endif %}"
                                autocomplete="off"
                                placeholder="{{ 'myfav.org.employee.formFieldEmail'|trans|sw_sanitize }}"
                                name="email"
                                id="email"
                                required="required"
                                value="{{ employee.email }}"
                            />
                            {% if emailError %}
                                <div id="validationEmailFeedback" class="invalid-feedback">
                                    {% if emailErrorMessage == 'MYFAV_ORG::EMAIL_ADDRESS_DUPLICATE_IN_ACCOUNT' %}
                                        {{ 'myfav.org.employee.editErrorEmailAccountDuplicate'|trans|sw_sanitize }}
                                    {% elseif emailErrorMessage == 'MYFAV_ORG::EMAIL_ADDRESS_DUPLICATE_IN_EMPLOYEE' %}
                                        {{ 'myfav.org.employee.editErrorEmailEmployeeDuplicate'|trans|sw_sanitize }}
                                    {% else %}
                                        {{ 'myfav.org.employee.editErrorEmail'|trans|sw_sanitize }}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>

                        {% set passwordError = false %}
                        {% set passwordErrorMessage = '' %}

                        {% for error in errors %}
                            {% if error.propertyPath == '/password' %}
                                {% set passwordError = true %}
                                {% if passwordErrorMessage|length === 0 %}
                                    {% set passwordErrorMessage = error.message %}
                                {% else %}
                                    {% set passwordErrorMessage = passwordErrorMessage ~ "<br />" ~ error.message %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <div class="form-group col-sm-6 has-validation">
                            <label for="password"{% if passwordError %} class="text-danger"{% endif %}>{{ 'myfav.org.employee.formFieldPassword'|trans|sw_sanitize }}</label>
                            <input 
                                type="password"
                                class="form-control {% if passwordError %}is-invalid{% endif %}"
                                autocomplete="off"
                                placeholder="{{ 'myfav.org.employee.formFieldPassword'|trans|sw_sanitize }}"
                                name="password"
                                id="password"
                                {% if editMode === 'new' %}required="required"{% endif %}
                                value=""
                            />
                            {% if passwordError %}
                                <div id="validationPasswordFeedback" class="invalid-feedback">{{ passwordErrorMessage }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="form-group col-sm-6">
                            <label for="firstName">{{ 'myfav.org.employee.formFieldFirstName'|trans|sw_sanitize }}</label>
                            <input 
                                type="text"
                                class="form-control"
                                autocomplete="off"
                                placeholder="{{ 'myfav.org.employee.formFieldFirstName'|trans|sw_sanitize }}"
                                name="firstName"
                                id="firstName"
                                required="required"
                                value="{{ employee.firstName }}"
                            />
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="lastName">{{ 'myfav.org.employee.formFieldLastName'|trans|sw_sanitize }}</label>
                            <input 
                                type="text"
                                class="form-control"
                                autocomplete="off"
                                placeholder="{{ 'myfav.org.employee.formFieldLastName'|trans|sw_sanitize }}"
                                name="lastName"
                                id="lastName"
                                required="required"
                                value="{{ employee.lastName }}"
                            />
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="form-group col-sm-6">
                            <label for="position">{{ 'myfav.org.employee.formFieldPosition'|trans|sw_sanitize }}</label>
                            <input 
                                type="text"
                                class="form-control"
                                autocomplete="off"
                                placeholder="{{ 'myfav.org.employee.formFieldPosition'|trans|sw_sanitize }}"
                                name="position"
                                id="position"
                                value="{{ employee.position }}"
                            />
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="form-group col-sm-6">
                            <label for="languageId">{{ 'myfav.org.employee.formFieldLanguage'|trans|sw_sanitize }}</label>
                            <select
                                class="form-select"
                                name="languageId"
                                id="languageId"
                                autocomplete="off"
                                required="required">
                                {% for language in languages %}
                                    <option value="{{ language.id }}">{{ language.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="form-group">
                            <label for="defaultBillingAddressId">{{ 'myfav.org.employee.formFieldDefaultBillingAddress'|trans|sw_sanitize }}</label>
                            <select
                                class="form-select"
                                name="defaultBillingAddressId"
                                id="defaultBillingAddressId"
                                autocomplete="off"
                                required="required">
                                {% for address in addresses %}
                                    <option value="{{ address.id }}">{{ address.company }} - {{ address.firstName }} {{ address.lastName }} - {{ address.street }} - {{ address.zipcode }} {{ address.city }} - {{ address.additionalAddressLine1 }} - {{ address.additionalAddressLine2 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="form-group">
                            <label for="defaultShippingAddressId">{{ 'myfav.org.employee.formFieldDefaultShippingAddress'|trans|sw_sanitize }}</label>
                            <select
                                class="form-select"
                                name="defaultShippingAddressId"
                                id="defaultShippingAddressId"
                                autocomplete="off"
                                required="required">
                                {% for address in addresses %}
                                    <option value="{{ address.id }}">{{ address.company }} - {{ address.firstName }} {{ address.lastName }} - {{ address.street }} - {{ address.zipcode }} {{ address.city }} - {{ address.additionalAddressLine1 }} - {{ address.additionalAddressLine2 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="form-group">
                            <label for="salutationId">{{ 'myfav.org.employee.formFieldSalutation'|trans|sw_sanitize }}</label>
                            <select
                                class="form-select"
                                name="salutationId"
                                id="salutationId"
                                autocomplete="off"
                                required="required">
                                {% for salutation in salutations %}
                                    <option value="{{ salutation.id }}">{{ salutation.displayName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="title">{{ 'myfav.org.employee.formFieldTitle'|trans|sw_sanitize }}</label>
                            <input 
                                type="text"
                                class="form-control"
                                autocomplete="off"
                                placeholder="{{ 'myfav.org.employee.formFieldTitle'|trans|sw_sanitize }}"
                                name="title"
                                id="title"
                                value="{{ employee.title }}"
                            />
                        </div>
                    </div>

                    <div class="row g-2 myfav-org-employee-attribute-container">
                        <h2>{{ 'myfav.org.employee.headingAclAttribute'|trans|sw_sanitize }}</h2>
                        <table class="table table-striped table-hover myfav-org-employee-attribute-table">
                            <thead>
                                <tr>
                                    <th>{{ 'myfav.org.employee.aclTableHeadingAttributeName'|trans|sw_sanitize }}</th>
                                    <th>{{ 'myfav.org.aclRole.aclTableHeadingCreate'|trans|sw_sanitize }}</th>
                                    <th>{{ 'myfav.org.employee.aclTableHeadingRead'|trans|sw_sanitize }}</th>
                                    <th>{{ 'myfav.org.employee.aclTableHeadingUpdate'|trans|sw_sanitize }}</th>
                                    <th>{{ 'myfav.org.employee.aclTableHeadingDelete'|trans|sw_sanitize }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for aclAttributeGroup in aclAttributeGroups %}
                                    <tr>
                                        <th>{{ ('myfav.org.aclRole.aclTableAttribute' ~ (aclAttributeGroup.name|capitalize))|trans|sw_sanitize }}</th>

                                        {# create #}
                                        {% set tmpAttributeFound = false %}
                                        {% for myfavOrgAclAttribute in aclAttributeGroup.myfavOrgAclAttributes %}
                                            {% if myfavOrgAclAttribute.technicalName ends with '.create' %}
                                                {% set tmpAttributeFound = true %}
                                                <td><input
                                                    type="checkbox"
                                                    value="1"
                                                    name="aclAttributes[{{ myfavOrgAclAttribute.id }}]"
                                                    {% if editMode == 'edit' && activatedEmployeeAclAttributes[myfavOrgAclAttribute.id] is defined %}checked="checked"{% endif %}
                                                /></td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if tmpAttributeFound === false %}<td>&nbsp;</td>{% endif %}

                                        {# read #}
                                        {% set tmpAttributeFound = false %}
                                        {% for myfavOrgAclAttribute in aclAttributeGroup.myfavOrgAclAttributes %}
                                            {% if myfavOrgAclAttribute.technicalName ends with '.read' %}
                                                {% set tmpAttributeFound = true %}
                                                <td><input
                                                    type="checkbox"
                                                    value="1"
                                                    name="aclAttributes[{{ myfavOrgAclAttribute.id }}]"
                                                    {% if editMode == 'edit' && activatedEmployeeAclAttributes[myfavOrgAclAttribute.id] is defined %}checked="checked"{% endif %}
                                                /></td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if tmpAttributeFound === false %}<td>&nbsp;</td>{% endif %}

                                        {# update #}
                                        {% set tmpAttributeFound = false %}
                                        {% for myfavOrgAclAttribute in aclAttributeGroup.myfavOrgAclAttributes %}
                                            {% if myfavOrgAclAttribute.technicalName ends with '.update' %}
                                                {% set tmpAttributeFound = true %}
                                                <td><input
                                                    type="checkbox"
                                                    value="1"
                                                    name="aclAttributes[{{ myfavOrgAclAttribute.id }}]"
                                                    {% if editMode == 'edit' && activatedEmployeeAclAttributes[myfavOrgAclAttribute.id] is defined %}checked="checked"{% endif %}
                                                /></td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if tmpAttributeFound === false %}<td>&nbsp;</td>{% endif %}

                                        {# delete #}
                                        {% set tmpAttributeFound = false %}
                                        {% for myfavOrgAclAttribute in aclAttributeGroup.myfavOrgAclAttributes %}
                                            {% if myfavOrgAclAttribute.technicalName ends with '.delete' %}
                                                {% set tmpAttributeFound = true %}
                                                <td><input
                                                    type="checkbox"
                                                    value="1"
                                                    name="aclAttributes[{{ myfavOrgAclAttribute.id }}]"
                                                    {% if editMode == 'edit' && activatedEmployeeAclAttributes[myfavOrgAclAttribute.id] is defined %}checked="checked"{% endif %}
                                                /></td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if tmpAttributeFound === false %}<td>&nbsp;</td>{% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-actions">
                        <button type="submit" class="btn btn-primary btn-sm" title="{{ 'myfav.org.employee.btnSave'|trans|sw_sanitize }}">{{ 'myfav.org.employee.btnSave'|trans|sw_sanitize }}</button>
                    </div>
                </form>
                {% if editMode == 'edit' %}
                    <hr />
                    <div class="accordion" id="accordionRemoveEntry">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseRemoveEntry" aria-expanded="false" aria-controls="flush-collapseRemoveEntry">
                                    {{ 'myfav.org.employee.removeEntryCollapseHeader'|trans|sw_sanitize }}
                                </button>
                            </h2>
                            <div id="flush-collapseRemoveEntry" class="accordion-collapse collapse" data-bs-parent="#accordionRemoveEntry">
                                <div class="accordion-body">
                                    <p class="myfav-org-employee-delete-warning">{{ 'myfav.org.employee.removeEntryWarning'|trans|sw_sanitize }}</p>
                                    <a href="{{ path('myfav.org.employee.delete', { 'employeeId': employee.id }) }}"><button type="submit" class="btn btn-danger btn-sm">{{ 'myfav.org.employee.removeEntryBtn'|trans|sw_sanitize }}</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}