{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    {% block page_myfav_org_employee_overview %}
        <div class="myfav-org-employee-overview">
            {% if successMessage && (successMessage == 'createdEmployee' || successMessage == 'deletedEmployee' || successMessage == 'updatedEmployee') %}
                <div role="alert" class="alert alert-success alert-has-icon">
                    <span class="icon icon-checkmark-circle" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path d="M24 12c0 6.6274-5.3726 12-12 12S0 18.6274 0 12 5.3726 0 12 0s12 5.3726 12 12zM12 2C6.4772 2 2 6.4772 2 12s4.4772 10 10 10 10-4.4772 10-10S17.5228 2 12 2zM7.7071 12.2929 10 14.5858l6.2929-6.293c.3905-.3904 1.0237-.3904 1.4142 0 .3905.3906.3905 1.0238 0 1.4143l-7 7c-.3905.3905-1.0237.3905-1.4142 0l-3-3c-.3905-.3905-.3905-1.0237 0-1.4142.3905-.3905 1.0237-.3905 1.4142 0z" id="icons-default-checkmark-circle"></path></defs><use xlink:href="#icons-default-checkmark-circle" fill="#758CA3" fill-rule="evenodd"></use></svg>
                    </span>
                    <div class="alert-content-container">
                        {% if successMessage == 'createdEmployee' %}
                            <div class="alert-content">{{ 'myfav.org.employee.successMessageEmployeeCreated'|trans|sw_sanitize }}</div>
                        {% elseif successMessage == 'deletedEmployee' %}
                            <div class="alert-content">{{ 'myfav.org.employee.successMessageEmployeeDeleted'|trans|sw_sanitize }}</div>
                        {% elseif successMessage == 'updatedEmployee' %}
                            <div class="alert-content">{{ 'myfav.org.employee.successMessageEmployeeUpdated'|trans|sw_sanitize }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <h1>{{ 'myfav.org.employee.pageTitle'|trans|sw_sanitize }}</h1>

             {% if userAclCanCreate %}
                <div class="myfav-org-employee-add-button-container">
                    <a href="{{ path('myfav.org.employee.new') }}"><button class="btn btn-primary">{{ 'myfav.org.employee.addEmployeeButton'|trans|sw_sanitize }}</button></a>
                </div>
            {% endif %}

            <h2>{{ 'myfav.org.employee.employeeListTitle'|trans|sw_sanitize }}</h2>

            <div class="myfav-org-employee-search-container">
                <form action="{{ path('myfav.org.employee.list') }}" method="get">
                    <div class="row">
                        <div class="col-4 offset-6" style="padding-right: 0;">
                            <input type="text" id="myfav-org-employee-search" value="{{ searchQuery|escape }}" name="searchQuery" class="form-control" placeholder="Search for Employee" />
                        </div>
                        <div class="col-2" style="padding-left: 0;">
                            <button type="submit" id="myfav-org-employee-search-button" class="btn btn-sm btn-secondary">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            {% if employees.total === 0 %}
                {{ 'myfav.org.employee.messageNoEmployeesYet'|trans|sw_sanitize }}
            {% else %}
                <table class="table table-striped table-hover myfav-org-employee-table">
                    <thead>
                        <tr>
                            <th>{{ 'myfav.org.employee.employeeTableHeadingName'|trans|sw_sanitize }}</th>
                            <th>{{ 'myfav.org.employee.employeeTableHeadingEmail'|trans|sw_sanitize }}</th>
                            <th>{{ 'myfav.org.employee.employeeTableHeadingAction'|trans|sw_sanitize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                            <tr>
                                <td>{% if userAclCanUpdate %}<a href="{{ path('myfav.org.employee.edit', { 'employeeId': employee.id }) }}">{% endif %}{{ employee.lastName }} {{ employee.firstName }}{% if userAclCanUpdate %}</a>{% endif %}</td>
                                <td>{% if userAclCanUpdate %}<a href="{{ path('myfav.org.employee.edit', { 'employeeId': employee.id }) }}">{% endif %}{{ employee.email }}{% if userAclCanUpdate %}</a>{% endif %}</td>
                                <td>
                                    {% if userAclCanUpdate %}<a href="{{ path('myfav.org.employee.edit', { 'employeeId': employee.id }) }}"><button type="submit" class="btn btn-primary btn-sm">{{ 'myfav.org.employee.employeeTableEditButton'|trans|sw_sanitize }}</button></a>{% else %}&nbsp;{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <form action="{{ path('myfav.org.employee.list') }}" method="get" data-form-auto-submit="true">
                    <input type="hidden" value="{{ searchQuery|escape }}" name="searchQuery" />
                    {% sw_include '@Storefront/storefront/component/pagination.html.twig' with {
                        prev_link: currentPage > 1 ? path('myfav.org.employee.list', {page: currentPage - 1, search: searchQuery}) : null,
                        next_link: currentPage < pages ? path('myfav.org.employee.list', {page: currentPage + 1, search: searchQuery}) : null,
                        'currentPage': currentPage,
                        'total': total,
                        'limit': limit,
                        'pages': pages,
                        'criteria': criteria,
                        'searchRoute': 'myfav.org.employee.list',
                        'searchQuery': searchQuery
                    } %}
                </form>

            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
